<header> 
 <a href="/">
        <div class="logo-container">
            <img src="/images/logosite.jpg" class="logo"><i class='bx bx-spa'></i>
        </div>
    </a>
        <ul class="nav">
            <li><a  href="/">Home</a></li>
            <li><a  href="/login">Login</a></li>
        </ul>
    </header>