<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="shortcut icon" href="https://img.icons8.com/cotton/64/null/lotus--v1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/loja.css">
    <title>Loja</title>
</head>
<body>
    <%- include('./partials/header')  %>

    <div class="products">
        <h1>Our Products</h1>
        <div class="all-products">
            <div class="product">
                <img src="./images/chp.png" alt="tenis">
                <div class="info-product">
                    <h4 class="product-tittle">Corta-vento</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>

            <div class="product">
                <img src="./images/shoulder.png" alt="calça">
                <div class="info-product">
                    <h4 class="product-tittle">Regata</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>

            <div class="product">
                <img src="./images/chp2.png" alt="blusa">
                <div class="info-product">
                    <h4 class="product-tittle">Camisa Inter de Milão</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>
            <div class="product">
                <img src="./images/mochila.png" alt="blusa">
                <div class="info-product">
                    <h4 class="product-tittle">Polo</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="all-products">
            <div class="product">
                <img src="./images/chp2.png" alt="tenis">
                <div class="info-product">
                    <h4 class="product-tittle">Calça</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>

            <div class="product">
                <img src="./images/mochila.png" alt="calça">
                <div class="info-product">
                    <h4 class="product-tittle">Conjunto</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>

            <div class="product">
                <img src="./images/chp.png" alt="blusa">
                <div class="info-product">
                    <h4 class="product-tittle">Invicible</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>
            <div class="product">
                <img src="./images/shoulder.png" alt="blusa">
                <div class="info-product">
                    <h4 class="product-tittle">Vestido</h4>
                    <p class="product-price">$50</p>
                    <a href="./produto" class="product-btn">Buy now</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer')  %>
</body>
</html>