<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Bem-vindo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <div class="main-login">
      <div class="left-login">
        <h1> Bem-Vindo a Geek Meeting<br> Faça o Login<br>E entre para o universo dos animes!! </h1>
        <img src="/images/animation.svg" class="image-login" alt="geek">
      </div>
      <div class="right-login">
        <div class="card-login">
          <h1>LOGIN</h1>
          <a href="/login/autenticar" class="btn-login"> <h4>Login</h4></a>

          <a href="/login/cadastro" class="btn-login"> <h4>Cadastro</h4></a>
        </div>
      </div>
    </div>
  </body>
</html>
